<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Stock Chart</title>

        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>

        <h1>Stock Chart</h1>

        <label for="ticker-input">Symbol:</label>
        <input type="text" id="ticker-input">
        <input type="button" value="Submit" id="ticker-submit">

        <div id="chart-container">
            <canvas id="chart"></canvas>
        </div>

        <script type="text/javascript" src="{% static 'middleware.js' %}"></script>
        
    </body>
</html>